{{>header}}

  <main class="main">
    <section id="project-details" class="project-details section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-8">
            <div class="project-hero" data-aos="zoom-out" data-aos-delay="200">
              <img src="/img/games/magic.jpg" class="img-fluid">
              <button>
                <div class="project-hero-overlay">
                  <div class="project-status">
                    <i class="bi bi-heart heart-outline"></i>
                    <i class="bi bi-heart-fill heart-fill"></i>
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="project-info" data-aos="fade-left" data-aos-delay="300">
              <h1 class="project-title">MAGIC</h1>
              <p class="project-description">Juego de cartas coleccionables en el que cada jugador debe derrotar a su
                enemigo usando sus poderes: criaturas mágicas, artefactos, y encantamientos, extrayendo el poder o maná
                de sus tierras, algunas también con sus propios poderes.</p>
              <div class="project-details">
                <div class="detail-item">
                  <span class="label">Jugadores</span>
                  <span class="value">2 - 4</span>
                </div>
                <div class="detail-item">
                  <span class="label">Duración</span>
                  <span class="value">25' - 60'</span>
                </div>
                <div class="detail-item">
                  <span class="label">Género</span>
                  <span class="value">Cartas</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <form action="/removeGame/{{game.id}}" method="post">
                    <button type="submit" class="submit-btn">Eliminar<i class="bi bi-trash"></i></button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                  </form>
                </div>
                <div class="col">
                  <a class="submit-btn" href="game_form">
                    <i class="bi bi-pencil-square"></i>
                    Modificar juego
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main>

{{>footer}}