<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Detail Event Page</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="/img/logo.jpg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iConstruction
  * Template URL: https://bootstrapmade.com/iconstruction-bootstrap-construction-template/
  * Updated: Jul 27 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="project-details-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="index" class="logo d-flex align-items-center me-auto">
        <img src="/img/logo.jpg" width="64" height="64">
        <h1 class="sitename">La Caverna Del Dragón</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="games">Juegos</a></li>
          <li><a href="events">Eventos</a></li>
          <li><a href="news">Noticias</a></li>
          <li><a class="d-xl-none" href="profile">Mi perfil</a></li>
          <li><a class="d-xl-none" href="index">Cerrar sesión</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <div class="col-lg-1"></div>
      <div class="dropdown d-none d-xl-block">
        <a class="submit-btn rounded-circle p-0" type="button" id="dropdownUserButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatars.githubusercontent.com/u/69584761?v=4&size=64" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownUserButton">
          <li><a class="dropdown-item" href="profile">Mi perfil</a></li>
          <li><a class="dropdown-item" href="index">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <section id="project-details" class="project-details section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-5">
            <div class="project-hero" data-aos="zoom-out" data-aos-delay="200">
              <img src="/img/events/event.jpg" class="img-fluid">
              <div class="project-hero-overlay">
                <div class="project-status">
                  <i class="bi bi-tag"></i>
                  Juegos de mesa
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="project-info" data-aos="fade-left" data-aos-delay="300">
              <h1 class="project-title">Evento juegos de mesa</h1>
              <div class="project-description">
                <p>🎲🧩♟ ¿Estáis preparados una vez más para el evento de juegos de mesa de la LCDD? 🎲🧩♟</p>
                <p>
                  La asociación “La Caverna del Dragón” en colaboración con la URJC organiza otra edición del evento de
                  juegos de mesa para que venga a jugar y divertirse todo el mundo.
                </p>
                <p>
                  La asociación pondrá sus propios juegos y los miembros llevaremos algunos nuestros propios.
                  ¡Puedes probar los que quieras y también traer los tuyos si quieres jugarlos con los demás!
                </p>
                <p>
                  📆 Viernes, 12 de Diciembre<br>
                  ⏰ 10:00 a 20:00<br>
                  📍 Aula 002 del Aulario I, Campus de Móstoles, URJC<br>
                  ♟ Se conceden créditos ECTS y es totalmente gratuito participar.
                </p>
              </div>
              <div class="row">
                <div class="col-lg-3">
          <button class="btn btn-outline-dark rounded-pill px-4" type="submit">
             Apuntarse
          </button>
        </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4">
                  <a class="submit-btn" href="events">
                    <i class="bi bi-trash"></i>
                    Eliminar evento
                  </a>
                </div>
                <div class="col -lg-8">
                  <a class="submit-btn" href="event_form">
                    <i class="bi bi-pencil-square"></i>
                    Modificar evento
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background">
    <!-- Poner algo en footer (Redes de la asociación o lo q sea) -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="mb-0"><span class="sitename">La Caverna Del Dragón</span></p>
              <div class="credits">
                Desarrollo de Aplicaciones Web - Grupo 6 - 2026
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top Button-->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Bootstrap JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>