{{>header}}

  <main class="main">
    <section id="quote" class="quote section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-10" data-aos="fade-left" data-aos-delay="300">
            <div class="quote-form">
              <div class="form-intro">
                <h3>Añadir o modificar evento</h3>
                <p>Rellena los campos para añadir o modificar un evento.</p>
              </div>
              <form method="post" action="/event_form" enctype="multipart/form-data" class="php-email-form">
                <div class="form">
                  <div class="form-field">
                    <label for="eventName">Nombre:</label>
                    <input type="text" name="eventName" id="eventName" placeholder="" required="">
                  </div>
                  <br>
                  <div class="form-field full-width">
                    <label for="eventDescription">Descripción:</label>
                    <textarea name="eventDescription" id="eventDescription" rows="8" placeholder="" required=""></textarea>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="eventTag">Tag:</label>
                    <input type="text" name="eventTag" id="eventTag" placeholder="" required="">
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="imageField" class="form-label">Adjunta una imagen:</label>
                    <input class="form-control" type="file" name="imageField" id="imageField" required>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="link">Enlace de inscripción:</label>
                    <input type="text" name="link" id="link" placeholder="" required="">
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <a href="events" class="submit-btn">Volver sin guardar</a>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                      <button type="submit" class="submit-btn">
                        <span>Añadir</span>
                        <i class="bi bi-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="{{token}}" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Quote Section -->
  </main>

{{>footer}}