{{>header}}

<main class="main">
  <section id="projects" class="projects section">
    <h1 style="text-align: center;">JUEGOS</h1>
    <div class="container mb-4">
      <form method="get" action="/games">
        <div class="row g-2 align-items-center">
          <div class="col-12 col-md-4 col-lg-3">
            <input name="name" class="form-control" type="search" placeholder="Buscar juegos..." aria-label="Search">
          </div>
          <div class="col-6 col-md-2 col-lg-2">
            <select name="tag" class="form-select" aria-label="Filtrar por categoría">
              <option selected value="">Categoría</option>
              <option value="Cartas">Cartas</option>
              <option value="Estrategia">Estrategia</option>
            </select>
          </div>
          <div class="col-6 col-md-2 col-lg-1">
            <select name="players" class="form-select" aria-label="Filtrar por jugadores">
              <option selected value="">Jug.</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>+5</option>
            </select>
          </div>
          <div class="col-6 col-md-2 col-lg-2">
            <select name="duration" class="form-select" aria-label="Filtrar por duración">
              <option selected value="">Duración</option>
              <option value=20>20 min</option>
              <option value=30>+30 min</option>
            </select>
          </div>
          <div class="col-6 col-md-2 col-lg-2">
            <button class="btn_lcdd w-100" type="submit">
              <i class="bi bi-search"></i> Buscar
            </button>
          </div>
          {{#admin}}
          <div class="col-12 col-md-2 col-lg-2">
            <a href="game_form" class="btn_lcdd_black w-100">
              <i class="bi bi-plus-circle me-2"></i> Crear juego
            </a>
          </div>
          {{/admin}}
      </form>
    </div>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div id="events-container" class="row gy-4">
        {{#game}}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <a class="project-card" href="/game/{{gameId}}">
            <div class="project-card">
              <div class="project-image">
                <img src="/images/{{gameImage.id}}" alt="Project" class="img-fluid">
              </div>
              <div class="project-info">
                <div class="project-category">{{genre}}</div>
                <h4 class="project-title">{{gameName}}</h4>
                <p class="project-description">{{gameDescription}}</p>
              </div>
            </div>
          </a>
        </div>
        {{/game}}
        {{^game}}
        <div>No hay juegos</div>
        {{/game}}
      </div>
      <div class="text-center col-lg-4">
        {{#hasNext}}
        <button id="load-more-btn" class="btn_lcdd" onclick="loadMore()">Cargar más</button>
        {{/hasNext}}
      </div>
    </div>
  </section>
</main>

<script>
  let currentPage = 1;
  function loadMore() {
    const name = "{{name}}";
    const tag = "{{tag}}";
    const btn = document.getElementById('load-more-btn');

    fetch(`/events?page=${currentPage}&name=${name}&tag=${tag}`)
      .then(response => response.text())
      .then(html => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const newEvents = doc.getElementById('events-container').innerHTML;
        document.getElementById('events-container').insertAdjacentHTML('beforeend', newEvents);
        const hasNext = doc.getElementById('load-more-btn') !== null;
        if (!hasNext) {
          btn.style.display = 'none';
        }
        currentPage++;
      })
      .catch(error => console.error('Error cargando eventos:', error));
  }
</script>
{{>footer}}