{{>header}}

  <main class="main">
    <section id="quote" class="quote section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-10" data-aos="fade-left" data-aos-delay="300">
            <div class="quote-form">
              <div class="form-intro">
                <h3>Añadir o modificar juego</h3>
                <p>Rellena los campos para añadir o modificar un juego.</p>
              </div>
              <form method="post" action="/game_form" class="php-email-form" enctype="multipart/form-data">
                <div class="form">
                  <div class="form-field">
                    <label for="gameName">Nombre:</label>
                    <input type="text" name="gameName" id="gameName" placeholder="" required="">
                  </div>
                  <br>
                  <div class="form-field full-width">
                    <label for="gameDescription">Descripción:</label>
                    <textarea name="gameDescription" id="gameDescription" rows="8" placeholder="" required=""></textarea>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="minPlayers">Jugadores mínimos:</label>
                    <input type="number" name="minPlayers" min="1" id="minPlayers" required>
                  </div>
                  <div class="form-field">
                    <label for="maxPlayers">Jugadores máximos:</label>
                    <input type="number" name="maxPlayers" min="1" id="maxPlayers" required>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="minDuration">Duración mínima:</label>
                    <input type="number" name="minDuration" min="1" id="minDuration" required>
                  </div>
                  <div class="form-field">
                    <label for="maxDuration">Duración máxima:</label>
                    <input type="number" name="maxDuration" min="1" id="maxDuration" required>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="genre">Género:</label>
                    <input type="text" name="genre" id="genre" placeholder="" required="">
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="imageField" class="form-label">Adjunta una imagen:</label>
                    <input class="form-control" type="file" name="imageField" id="imageField" required>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <a href="games" class="submit-btn">Volver sin guardar</a>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                      <button type="submit" class="submit-btn">
                        <span>Añadir</span>
                        <i class="bi bi-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="{{token}}" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Quote Section -->
  </main>

{{>footer}}