{{>header}}

<main class="main">
  <section id="quote" class="quote section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-10" data-aos="fade-left" data-aos-delay="300">
          <div class="quote-form">
            <div class="form-intro">
              <h3>Iniciar sesión</h3>
              <p>Introduzca sus credenciales para acceder.</p>
            </div>

            {{#loginError}}
            <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert"
              style="border-left: 5px solid #890f00;">
              <strong><i class="bi bi-exclamation-circle-fill me-2"></i> Error de acceso:</strong>
              <p class="mb-0 mt-1">{{errorMessage}}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/loginError}}

            <form action="/login" method="post" class="custom-login-form needs-validation" novalidate>
              <div class="form">
                <div class="form-field">
                  <label for="email" class="required-label">Correo electrónico:</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="" required="">

                  <div class="invalid-feedback">
                    Por favor, ingrese un correo electrónico válido.
                  </div>
                </div>
                <br>
                <div class="form-field">
                  <label for="password" class="required-label">Contraseña:</label>
                  <input type="password" class="form-control"name="password" id="password" placeholder="" required="">
                  <div class="invalid-feedback">
                    Por favor, ingresa una contraseña válida.
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-2">
                    <a href="index" class="submit-btn">Volver</a>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-3">
                    <button type="submit" class="submit-btn">
                      <span>Iniciar sesión</span>
                      <i class="bi bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
                <br>
                <h4>¿No tienes cuenta en La Caverna Del Dragón?</h4>
                <a href="register" class="submit">Click aquí para crear una</a>
              </div> <input type="hidden" name="_csrf" value="{{token}}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{>footer}}