{{>header}}

<main class="main">
  <section id="quote" class="quote section pt-0">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-10" data-aos="fade-left" data-aos-delay="300">
          <div class="quote-form">
            <div class="form-intro">
              <h3>Añadir o modificar noticia</h3>
              <p>Rellena los campos para añadir o modificar una noticia.</p>
            </div>

            {{#hasErrors}}
            <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert"
              style="border-left: 5px solid #890f00;">
              <strong><i class="bi bi-exclamation-triangle-fill me-2"></i> Ups! Hay errores:</strong>
              <ul class="mt-2 mb-0">
                {{#allErrors}}
                <li>{{.}}</li>
                {{/allErrors}}
              </ul>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/hasErrors}}
            <form method="post" action="/new_form" enctype="multipart/form-data"
              class="custom-login-form needs-validation" novalidate>
              {{#newPost}}
              <div class="form">
                <input type="hidden" name="newId" value="{{#newId}}{{newId}}{{/newId}}" />

                <div class="form-field">
                  <label for="newName" class="required-label">Titulo:</label>
                  <input type="text" class="form-control" name="newName" id="newName"
                    value="{{#newName}}{{newName}}{{/newName}}" minlength="10" maxlength="100" required>
                  <div class="invalid-feedback">
                    El titulo debe tener entre 10 y 100 caracteres.
                  </div>
                </div>
                <br>

                <div class="form-field full-width">
                  <label for="newDescription" class="required-label">Descripción:</label>
                  <textarea minlength="50" maxlength="3000" class="form-control" name="newDescription"
                    id="newDescription" rows="8"
                    required>{{#newDescription}}{{newDescription}}{{/newDescription}}</textarea>
                  <div class="invalid-feedback">
                    La descripción debe tener entre 50 y 3000 caracteres.
                  </div>
                </div>
                <br>

                <div class="form-field">
                  <label for="newTag" class="form-label">Tag:</label>
                  <input type="text" name="newTag" id="newTag" value="{{#newTag}}{{newTag}}{{/newTag}}">
                </div>
                <br>

                <div class="form-field">
                  <label for="imageField" class="form-label">Imagen:</label>

                  {{#newId}}
                  <input class="form-control" type="file" name="imageField" id="imageField">
                  {{/newId}}

                  {{^newId}}
                  <input class="form-control" type="file" name="imageField" id="imageField" required>
                  {{/newId}}
                  <div class="invalid-feedback">
                    Por favor, selecciona una imagen válida.
                  </div>
                </div>
                {{/newPost}}

                <div class="d-flex flex-column flex-md-row justify-content-evenly mt-5 mb-2">

                  <a href="/news" class="submit-btn"
                    style="background: #6c757d; margin-top: 0; justify-content: center;">
                    <i class="bi bi-arrow-left"></i>
                    <span>Atrás</span>
                  </a>

                  <button type="submit" class="submit-btn" style="margin-top: 0; justify-content: center;">
                    <span>Guardar Noticia</span>
                    <i class="bi bi-check2-circle"></i>
                  </button>

                </div>
              </div>
              <input type="hidden" name="_csrf" value="{{token}}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{>footer}}