{{>header}}

  <main class="main">
    <section id="projects" class="projects section">
      <h1 style="text-align: center;">NOTICIAS</h1>
      <div class="container mb-4">
        <div class="row g-2 align-items-center">
          <div class="col-12 col-md-5 col-lg-6">
            <input class="form-control" type="search" placeholder="Buscar noticias..." aria-label="Search">
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <select class="form-select" aria-label="Filtrar por tema">
              <option selected value="">Filtrar por tema</option>
              <option value="changes">Cambios</option>
              <option value="event">Evento</option>
            </select>
          </div>
          <div class="col-6 col-md-2 col-lg-2">
            <button class="btn_lcdd w-100" type="submit">
              <i class="bi bi-search"></i> Buscar
            </button>
          </div>
          {{#logged}}
          <div class="col-12 col-md-2 col-lg-2">
            <a href="new_form" class="btn_lcdd_black w-100">
              <i class="bi bi-plus-circle me-2"></i> Crear noticia
            </a>
          </div>
          {{/logged}}
        </div>
      </div>
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          {{#new}}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project-card" href="event/{{eventId}}">
              <div class="project-card">
                <div class="project-image">
                  <img src="/event/{{eventId}}/{{eventImage}}" alt="Project" class="img-fluid">
                </div>
                <div class="project-info">
                  <div class="project-category">{{eventTag}}</div>
                  <h4 class="project-title">{{eventName}}</h4>
                  <p class="project-description">{{eventDescription}}</p>
                </div>
              </div>
            </a>
          </div>
          {{/new}}
          {{^new}}
          <div>No hay noticias</div>
          {{/new}}
        </div>
      </div>
    </section>
  </main>

{{>footer}}