{{>header}}

  <main class="main">
    <section id="quote" class="quote section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-10" data-aos="fade-left" data-aos-delay="300">
            <div class="quote-form">
              <div class="form-intro">
                <h3>Registrarse</h3>
                <p>Introduzca los siguientes datos para crear su cuenta</p>
              </div>
              <form method="post" id="registerForm" action="/register" method="post"  class="php-email-form">
                <div class="form">
                  <div class="form-field">
                    <label for="email" class="required-label">Correo electrónico:</label>
                    <input type="email" name="email" id="email" value="{{email}}" {{#invalidEmail}}class="is-invalid"{{/invalidEmail}} required>
                    <div class="invalid-feedback">
                      Ya existe un usuario con este email.
                    </div>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="password" class="required-label">Contraseña:</label>
                    <input type="password" name="password" id="password" value="{{password}}" minlength="4" required>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="confirm-password" class="required-label">Confirmar contraseña:</label>
                    <input type="password" name="confirm-password" id="confirm-password" value="{{password}}" minlength="4" required>
                    <div class="invalid-feedback">
                      Las contraseñas deben ser iguales.
                    </div>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="name" class="required-label">Nombre:</label>
                    <input type="text" name="name" id="name" value="{{name}}" required>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="surnames" class="required-label">Apellidos:</label>
                    <input type="text" name="surnames" id="surnames" value="{{surnames}}" required>
                  </div>
                  <br>
                  <div class="form-field">
                    <label for="nickname" class="required-label">Nickname:</label>
                    <input type="text" name="nickname" id="nickname" value="{{nickname}}" required>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-2">
                      <a href="index" class="submit-btn">Volver</a>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                      <button type="submit" class="submit-btn">
                        <span>Registrarse</span>
                        <i class="bi bi-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                  <br>
                  <h4>¿Ya tienes cuenta en La Caverna del Dragón?</h4>
                  <a href="login" class="submit">Click aquí para ir a login</a>
                  <input type="hidden" name="_csrf" value="{{token}}" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{{>footer}}