<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Detail Game Page</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iConstruction
  * Template URL: https://bootstrapmade.com/iconstruction-bootstrap-construction-template/
  * Updated: Jul 27 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="project-details-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.jpg">
        <h1 class="sitename">La Caverna Del Dragón</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="games.html">Juegos</a></li>
          <li><a href="events.html">Eventos</a></li>
          <li><a href="news.html">Noticias</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted d-none d-sm-block" href="login.html">
         Registro / Iniciar Sesión
         <i class="bi bi-person"></i>
      </a>
    </div>
  </header>

  <main class="main">
    <section id="project-details" class="project-details section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-8">
            <div class="project-hero" data-aos="zoom-out" data-aos-delay="200">
              <img src="assets/img/games/magic.jpg" class="img-fluid">
              <button>
                <div class="project-hero-overlay">
                  <div class="project-status">
                    <i class="bi bi-heart heart-outline"></i>
                    <i class="bi bi-heart-fill heart-fill"></i>
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="project-info" data-aos="fade-left" data-aos-delay="300">
              <h1 class="project-title">MAGIC</h1>
              <p class="project-description">Juego de cartas coleccionables en el que cada jugador debe derrotar a su
                enemigo usando sus poderes: criaturas mágicas, artefactos, y encantamientos, extrayendo el poder o maná
                de sus tierras, algunas también con sus propios poderes.</p>
              <div class="project-details">
                <div class="detail-item">
                  <span class="label">Jugadores</span>
                  <span class="value">2 - 4</span>
                </div>
                <div class="detail-item">
                  <span class="label">Duración</span>
                  <span class="value">25' - 60'</span>
                </div>
                <div class="detail-item">
                  <span class="label">Género</span>
                  <span class="value">Cartas</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a class="btn btn-danger rounded-pill px-3" href="games.html">
                    <i class="bi bi-trash"></i>
                    Eliminar juego
                  </a>
                </div>
                <div class="col">
                  <a class="btn btn-secondary rounded-pill px-3" href="game_form.html">
                    <i class="bi bi-pencil-square"></i>
                    Modificar juego
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background">
    <!-- Poner algo en footer (Redes de la asociación o lo q sea) -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="mb-0"><span class="sitename">La Caverna Del Dragón</span></p>
              <div class="credits">
                Desarrollo de Aplicaciones Web - Grupo 6 - 2026
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top Button-->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Bootstrap JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>