<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Games</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iConstruction
  * Template URL: https://bootstrapmade.com/iconstruction-bootstrap-construction-template/
  * Updated: Jul 27 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="projects-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.jpg">
        <h1 class="sitename">La Caverna Del Dragón</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="games.html">Juegos</a></li>
          <li><a href="events.html">Eventos</a></li>
          <li><a href="news.html">Noticias</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted d-none d-sm-block" href="register_login.html">
        Registro / Iniciar Sesión
        <i class="bi bi-person"></i></a>
    </div>
  </header>

  <main class="main">
    <section id="projects" class="projects section">
      <h1 style="text-align: center;">JUEGOS</h1>
      <form class="row g-2 justify-content-center mb-4">
        <div class="col-lg-8">
          <input class="form-control" type="search" placeholder="Buscar noticias..." aria-label="Search">
        </div>
        <div class="col-lg-2">
          <button class="btn_lcdd w-100" type="submit">
            <i class="bi bi-search"></i> Buscar
          </button>
        </div>
      </form>
      <div class="row g-2 justify-content-center mb-4">
        <div class="col-lg-4">
          <!-- Filtros por jugadores, etc-->
        </div>
      </div>
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-card">
              <div class="project-image">
                <img src="assets/img/games/magic.jpg" alt="Project" class="img-fluid">
                <div class="project-overlay">
                  <div class="project-actions">
                    <a href="detail_game_page.html" class="btn-project">Más Detalles</a>
                  </div>
                  <button class="btn btn-secondary rounded-pill px-3">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-heart heart-outline"></i>
                        <i class="bi bi-heart-fill heart-fill"></i>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="project-info">
                <div class="project-category">Cartas</div>
                <h4 class="project-title">MAGIC</h4>
                <p class="project-description">Juego de cartas coleccionables en el que cada jugador debe derrotar a su
                  enemigo usando sus poderes: criaturas mágicas, artefactos, y encantamientos, extrayendo el poder o
                  maná
                  de sus tierras, algunas también con sus propios poderes.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-card">
              <div class="project-image">
                <img src="assets/img/games/carcassonne.png" alt="Project" class="img-fluid">
                <div class="project-overlay">
                  <div class="project-actions">
                    <a href="detail_game_page.html" class="btn-project">Más Detalles</a>
                  </div>
                  <button class="btn btn-secondary rounded-pill px-3">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-heart heart-outline"></i>
                        <i class="bi bi-heart-fill heart-fill"></i>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="project-info">
                <div class="project-category">Estrategia</div>
                <h4 class="project-title">Carcassonne</h4>
                <p class="project-description">Crea un mapa de juego donde los jugadores compiten por hacer el máximo
                  número de puntos con las mejores posesiones (ciudades, praderas, caminos y monasterios) del mapa. La
                  estrategia individual es básica para ganar cada partida.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-card">
              <div class="project-image">
                <img src="assets/img/games/virus.jpg" alt="Project" class="img-fluid">
                <div class="project-overlay">
                  <div class="project-actions">
                    <a href="detail_game_page.html" class="btn-project">Más Detalles</a>
                  </div>
                  <button class="btn btn-secondary rounded-pill px-3">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-heart heart-outline"></i>
                        <i class="bi bi-heart-fill heart-fill"></i>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="project-info">
                <div class="project-category">Cartas</div>
                <h4 class="project-title">Virus</h4>
                <p class="project-description">El objetivo es conseguir aislar un cuerpo sano y erradicar el virus antes
                  de
                  que cualquier otra persona lo consiga. Este juego no entiende de ética y todo es válido para conseguir
                  la victoria.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-card">
              <div class="project-image">
                <img src="assets/img/games/bang.jpg " alt="Project" class="img-fluid">
                <div class="project-overlay">
                  <div class="project-actions">
                    <a href="detail_game_page.html" class="btn-project">Más Detalles</a>
                  </div>
                  <button class="btn btn-secondary rounded-pill px-3">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-heart heart-outline"></i>
                        <i class="bi bi-heart-fill heart-fill"></i>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="project-info">
                <div class="project-category">Cartas</div>
                <h4 class="project-title">BANG!</h4>
                <p class="project-description">En Bang! todos miran con ansiedad al pistolero, pensando que ya está
                  muerto, que no tiene nada que hacer ante el rifle... ¡Pero lo que no saben es que su pistola es una
                  Volcanic! En el Salvaje Oeste, los Forajidos dan caza al Sheriff, el Sheriff da caza a los Forajidos,
                  y el Renegado urde su plan en secreto, listo para unirse a cualquiera de los bandos. Dentro de poco,
                  ¡las balas comenzarán a zumbar!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-card">
              <div class="project-image">
                <img src="assets/img/games/zombies.jpg" alt="Project" class="img-fluid">
                <div class="project-overlay">
                  <div class="project-actions">
                    <a href="detail_game_page.html" class="btn-project">Más Detalles</a>
                  </div>
                  <button class="btn btn-secondary rounded-pill px-3">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-heart heart-outline"></i>
                        <i class="bi bi-heart-fill heart-fill"></i>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="project-info">
                <div class="project-category">Cartas</div>
                <h4 class="project-title">Silenze: Zombie City</h4>
                <p class="project-description">¡La ciudad está invadida de zombis! La única esperanza de la humanidad es
                  crear grandes refugios de supervivientes para aguantar los ataques zombis. Rescata a los
                  supervivientes de Zombie City y atráelos a tu refugio para poder protegerte de la amenaza zombi y de
                  los refugios rivales.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-card">
              <div class="project-image">
                <img src="assets/img/games/taco-gato-pizza-queso.jpg" alt="Project" class="img-fluid">
                <div class="project-overlay">
                  <div class="project-actions">
                    <a href="detail_game_page.html" class="btn-project">Más Detalles</a>
                  </div>
                  <button class="btn btn-secondary rounded-pill px-3">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-heart heart-outline"></i>
                        <i class="bi bi-heart-fill heart-fill"></i>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="project-info">
                <div class="project-category">Cartas</div>
                <h4 class="project-title">Taco-Gato-Pizza-Queso</h4>
                <p class="project-description">Taco Gato Cabra Queso Pizza… Apréndete bien esta cantinela, porque cada
                  vez que pronuncias una palabra de este mantra tienes que descartarte de una carta de tu mano. Y si la
                  carta descartada coincide con la palabra pronunciada, tienes que colocar tu mano sobre el montón
                  central. Sé rápido, porque el último en hacerlo..., ¡se lleva todas las cartas en juego!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background">
    <!-- Poner algo en footer (Redes de la asociación o lo q sea) -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="mb-0"><span class="sitename">La Caverna Del Dragón</span></p>
              <div class="credits">
                Desarrollo de Aplicaciones Web - Grupo 6 - 2026
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top Button-->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Bootstrap JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>