<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - iConstruction Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iConstruction
  * Template URL: https://bootstrapmade.com/iconstruction-bootstrap-construction-template/
  * Updated: Jul 27 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <!-- Header -->
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.jpg">
        <h1 class="sitename">La Caverna Del Dragón</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="games.html">Juegos</a></li>
          <li><a href="events.html">Eventos</a></li>
          <li><a href="news.html">Noticias</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted d-none d-sm-block" href="register_login.html"> 
        <i class="bi bi-person"></i>
         Registro / Iniciar Sesión
      </a>

    </div>
  </header>

  <main class="main">
    
    <!-- Next events Section -->
    <section id="next-events" class="next-events section light-background">
      <div id="next-events-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
        <!-- Carousel item 1 -->
          <div class="carousel-item active">
            <div class="container project-details">
              <div class="row">
                <div class="col-lg-5">
                  <div class="project-hero">
                    <img src="assets/img/events/event.jpg" class="img-fluid">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-tag"></i>
                        Juegos de mesa
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="project-info">
                    <h1 class="project-title">Evento juegos de mesa</h1>
                    <div class="project-description">
                      <p>🎲🧩♟ ¿Estáis preparados una vez más para el evento de juegos de mesa de la LCDD? 🎲🧩♟</p>
                      <p>
                        La asociación “La Caverna del Dragón” en colaboración con la URJC organiza otra edición del evento de
                        juegos de mesa para que venga a jugar y divertirse todo el mundo.
                      </p>
                      <p>
                        La asociación pondrá sus propios juegos y los miembros llevaremos algunos nuestros propios.
                        ¡Puedes probar los que quieras y también traer los tuyos si quieres jugarlos con los demás!
                      </p>
                    </div>
                    <div class="next-event-timer mb-4">
                      <div class="row text-center">
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>25</h3>
                            <p>Días</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>500</h3>
                            <p>Horas</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>12</h3>
                            <p>Minutos</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>100</h3>
                            <p>Segundos</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="more-information-section">
                      <a href="detail_event_page.html" class="more-information-link">
                        Más información
                        <i class="bi bi-arrow-right ms-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- /Carousel item 1-->
      
          <!-- Carousel item 2 -->
          <div class="carousel-item">
            <div class="container project-details">
              <div class="row">
                <div class="col-lg-5">
                  <div class="project-hero">
                    <img src="assets/img/poster.jpg" class="img-fluid">
                    <div class="project-hero-overlay">
                      <div class="project-status">
                        <i class="bi bi-tag"></i>
                        Juegos de mesa
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="project-info">
                    <h1 class="project-title">Lorem ipsum</h1>
                    <div class="project-description">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero rerum dolores ad enim velit reiciendis sed voluptate, magnam officia minima ducimus aut molestiae sit placeat culpa veniam? A, mollitia distinctio.
                    </div>
                    <div class="next-event-timer mb-4">
                      <div class="row text-center">
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>25</h3>
                            <p>Días</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>500</h3>
                            <p>Horas</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>12</h3>
                            <p>Minutos</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                          <div class="timer-item">
                            <h3>100</h3>
                            <p>Segundos</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="more-information-section">
                      <a href="detail_event_page.html" class="more-information-link">
                        Más información
                        <i class="bi bi-arrow-right ms-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- /Carousel item 2-->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#next-events-carousel" data-bs-slide="prev" data-bs-theme="dark">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#next-events-carousel" data-bs-slide="next" data-bs-theme="dark">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section><!-- /Next events Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-between align-items-center">

          <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="200">
            <div class="content">
              <h2 class="section-heading mt-5 mb-4">¿Quiénes somos?</h2>
              <p class="lead-text mb-4">La Caverna del Dragón es una asociación de estudiantes de la URJC enfocada a rol, juegos de mesa y videojuegos. Organizamos multiples eventos como nuestro evento anual de introducción al rol, jornadas de juegos de mesa a puerta abierta, torneos de videojuegos, y muchas cosas más.</p>
              <p class="description-text mb-3">Puedes encontrarnos de lunes a viernes en el campus de Móstoles, Laboratorios Polivalentes II, Sótano 008.</p>
              <p class="description-text mb-2">Para más información, no dudes en escribirnos por correo o cualquiera de nuestras redes sociales:</p>
              <p class="description-text mb-1">
                <i class="bi bi-envelope me-2"></i>
                <a href="mailto:lcddoficial@gmail.com">lcddoficial@gmail.com</a>
              </p>
              <p class="description-text mb-1">
                <i class="bi bi-twitter-x me-2"></i>
                <a href="https://x.com/lcdd_urjc">@lcdd_urjc</a>
              </p>
              <p class="description-text mb-4">
                <i class="bi bi-instagram me-2"></i>
                <a href="https://www.instagram.com/lcdd_urjc">@lcdd_urjc</a>
              </p>
            </div>
          </div>

          <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="200">
            <div class="image-section">
              <div class="main-image">
                <img src="assets/img/poster.jpg" alt="La Caverna Del Dragón" class="img-fluid">
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

  <footer id="footer" class="footer dark-background">
    <!-- Poner algo en footer (Redes de la asociación o lo q sea) -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="mb-0"><span class="sitename">La Caverna Del Dragón</span></p>
              <div class="credits">
                Desarrollo de Aplicaciones Web - Grupo 6 - 2026
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top Button-->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Bootstrap JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>