<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>News</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/logo.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iConstruction
  * Template URL: https://bootstrapmade.com/iconstruction-bootstrap-construction-template/
  * Updated: Jul 27 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="projects-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.jpg">
        <h1 class="sitename">La Caverna Del Dragón</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="games.html">Juegos</a></li>
          <li><a href="events.html">Eventos</a></li>
          <li><a href="news.html">Noticias</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <div class="col-lg-1"></div>
      <div class="dropdown">
        <button class="submit-btn" type="button" id="dropdownUserButton" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-person"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownUserButton">
          <li><a class="dropdown-item" href="profile.html">Mi perfil</a></li>
          <li><a class="dropdown-item" href="index.html">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <section id="projects" class="projects section">
      <h1 style="text-align: center;">NOTICIAS</h1>
      <form class="row g-2 justify-content-center mb-4">
        <div class="col-lg-8">
          <input class="form-control" type="search" placeholder="Buscar noticias..." aria-label="Search">
        </div>
        <div class="col-lg-2">
          <button class="btn_lcdd w-100" type="submit">
            <i class="bi bi-search"></i> Buscar
          </button>
        </div>
      </form>
      <div class="row g-2 justify-content-center mb-4">
        <div class="col-lg-4">
          <div class="col-lg-4">
            <select class="form-select" aria-label="Filter by topic">
              <option selected value="">Filtrar por tema</option>
              <option value="changes">Cambios</option>
              <option value="event">Evento</option>
            </select>
          </div>
        </div>
      </div>
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project-card" href="detail_new_page.html">
              <div class="project-card">
                <div class="project-image">
                  <img src="assets/img/news/newsImg.jpg" alt="Project" class="img-fluid">
                </div>
                <div class="project-info">
                  <div class="project-category">Evento</div>
                  <h4 class="project-title">Regresan las jornadas de rol a la URJC</h4>
                  <p class="project-description">El próximo viernes 21 de marzo de 2025, el campus de Móstoles acogerá
                    la
                    cuarta edición de 'Dangers & Dragons | Jornadas de Rol', un evento pensado tanto para aquellos que
                    desean descubrir el emocionante mundo del rol como para los jugadores experimentados. Las jornadas,
                    que
                    se celebrarán este viernes en el Aulario I, ofrecerán una amplia gama de actividades en las que los
                    asistentes podrán participar en talleres interactivos, disfrutar de ponencias de expertos y vivir
                    partidas completas dirigidas por ‘másters’ especializados que asesorarán a los participantes..</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project-card" href="detail_new_page.html">
              <div class="project-card">
                <div class="project-image">
                  <img src="assets/img/news/newsImg.jpg" alt="Project" class="img-fluid">
                </div>
                <div class="project-info">
                  <div class="project-category">Evento</div>
                  <h4 class="project-title">Regresan las jornadas de rol a la URJC</h4>
                  <p class="project-description">El próximo viernes 21 de marzo de 2025, el campus de Móstoles acogerá
                    la
                    cuarta edición de 'Dangers & Dragons | Jornadas de Rol', un evento pensado tanto para aquellos que
                    desean descubrir el emocionante mundo del rol como para los jugadores experimentados. Las jornadas,
                    que
                    se celebrarán este viernes en el Aulario I, ofrecerán una amplia gama de actividades en las que los
                    asistentes podrán participar en talleres interactivos, disfrutar de ponencias de expertos y vivir
                    partidas completas dirigidas por ‘másters’ especializados que asesorarán a los participantes..</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project-card" href="detail_new_page.html">
              <div class="project-card">
                <div class="project-image">
                  <img src="assets/img/news/newsImg.jpg" alt="Project" class="img-fluid">
                </div>
                <div class="project-info">
                  <div class="project-category">Evento</div>
                  <h4 class="project-title">Regresan las jornadas de rol a la URJC</h4>
                  <p class="project-description">El próximo viernes 21 de marzo de 2025, el campus de Móstoles acogerá
                    la
                    cuarta edición de 'Dangers & Dragons | Jornadas de Rol', un evento pensado tanto para aquellos que
                    desean descubrir el emocionante mundo del rol como para los jugadores experimentados. Las jornadas,
                    que
                    se celebrarán este viernes en el Aulario I, ofrecerán una amplia gama de actividades en las que los
                    asistentes podrán participar en talleres interactivos, disfrutar de ponencias de expertos y vivir
                    partidas completas dirigidas por ‘másters’ especializados que asesorarán a los participantes..</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project-card" href="detail_new_page.html">
              <div class="project-card">
                <div class="project-image">
                  <img src="assets/img/news/newsImg.jpg" alt="Project" class="img-fluid">
                </div>
                <div class="project-info">
                  <div class="project-category">Evento</div>
                  <h4 class="project-title">Regresan las jornadas de rol a la URJC</h4>
                  <p class="project-description">El próximo viernes 21 de marzo de 2025, el campus de Móstoles acogerá
                    la
                    cuarta edición de 'Dangers & Dragons | Jornadas de Rol', un evento pensado tanto para aquellos que
                    desean descubrir el emocionante mundo del rol como para los jugadores experimentados. Las jornadas,
                    que
                    se celebrarán este viernes en el Aulario I, ofrecerán una amplia gama de actividades en las que los
                    asistentes podrán participar en talleres interactivos, disfrutar de ponencias de expertos y vivir
                    partidas completas dirigidas por ‘másters’ especializados que asesorarán a los participantes..</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a href="new_form.html">
              <div class="project-card">
                <div class="project-image">
                  <img src="assets/img/mas.jpg" alt="Project" class="img-fluid">
                </div>
                <div class="project-info">
                  <h4>Añadir noticia</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background">
    <!-- Poner algo en footer (Redes de la asociación o lo q sea) -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="mb-0"><span class="sitename">La Caverna Del Dragón</span></p>
              <div class="credits">
                Desarrollo de Aplicaciones Web - Grupo 6 - 2026
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top Button-->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Bootstrap JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>